* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    overflow: auto;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #999; */
    background: linear-gradient(130deg, rgb(113, 113, 213), pink);
}

#quiz-form {
    background: #ffffff;
    position: absolute;
    top: 50px;
    width: 650px;
    padding: 20px 20px;
    border-radius: 10px;
    user-select: none;
}

#quiz-form h1 {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    margin-bottom: 20px;
}

.question {
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: ease 0.5s;
}

.question:hover {
    box-shadow: 0 5px 15px #777;
}

.question label {
    display: block;
    margin: 8px 0;
}

legend {
    font-size: 18px;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    /* background-color: #777; */
    /* padding: 0 20px; */
}


button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    transition: ease 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.quit {
    background-color: rgb(223, 64, 64);
    color: white;
}

.submit {
    background-color: green;
    color: white;
}

/* Result card */

.result-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    width: 400px;
    /* background-color: white; */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    backdrop-filter: blur(14px) saturate(180%);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.result-card h2{
    color: white;
    text-align: center;
    /* padding: px 0; */
}

.result {
    /* height: 150px; */
    /* width: 100%; */
    text-align: center;
    /* background-color: blue; */
    /* margin-top: 30px; */
    padding: 10px;
}

.result h3{
    display: block;
    padding: 10px 0;
}

