*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #3e7276, #45a94c);
}

.container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonCard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 15px;
}

button{
    padding: 12px 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 17px;
    background: linear-gradient(135deg, #435f90, #a9459a);
    color: white;
    transition: ease 0.2s;
}

/* button:hover{
    transform: scale(1.1);
    border: none;
    outline: none;
    border-radius: 8px;
} */

.alert{
    display: flex;
    height: 9vh;
    align-items: center;
    justify-content: center;
    width: 25vw;
    position: absolute;
    top: -100px;
    z-index: 999;
    background-color: white;
    border-radius: 25px;
    border: 5px solid darkgray;
    font-size: 19px;
    font-weight: 700;
    transition: top 0.4s ease, opacity 0.4s ease;
    opacity: 0;
}

.alert.active{
    top: 10px;
    opacity: 1;
}