*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,body{
    height: 100%;
    width: 100%;
}

.container{
    padding: 50px;
    height: 100%;
    width: 100%;
    background-color: #333;
}

input{
    display: block;
    margin-bottom: 10px;
}

.card{
    min-width: 300px;
    /* height: 200px; */
    /* max-height: 150px; */
    width: 300px;
    background-color: #777;
    padding: 15px 15px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-right: 10px;
}
.card p{
    font-size: 12px;
    margin-top: 10px;
}

.card h5{
    margin-top: 3px;
}
.profile-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
