@import url(https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
}

body {
    background: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper */
.wrapper {
    padding: 10px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

/* Search Input */
.search-input {
    padding: 14px 20px;
    width: 350px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #444;
    color: #888;
    font-size: 20px;
}

/* Card */
.card {
    position: relative;
    width: 200px;
    height: 270px;
    overflow: hidden;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, border-radius 0.3s ease;
}

/* Background Image */
.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Blurred Layer */
.blurred-layer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    filter: blur(10px);
    z-index: 1;

    mask-image: linear-gradient(to top,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0));
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

    -webkit-mask-image: linear-gradient(to top,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
}

/* Content */
.content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 2;
    color: #fff;
}

.content h3 {
    font-size: 18px;
    margin-bottom: 6px;
}

.content p {
    font-size: 16px;
    color: white;
    line-height: 1.4;
    font-weight: 700;
}

.card:hover {
    border-radius: 20px;
    corner-shape: squircle;
    transform: scale(1.03);
}

.noUsers {
    display: none;
    color: #fff;
    font-size: 24px;
}

.noUsers.active {
    display: block;
}